@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background-color: #f4f1ec;
  color: #524c3e; }

@media (max-width: 549px) {
  main {
    width: 95%;
    max-width: 940px;
    margin: 0 auto; } }
@media (min-width: 550px) {
  main {
    width: 70%;
    max-width: 1480px;
    margin: 0 auto; } }
.pc-menu {
  /*アニメーション要素までスクロールした時のスタイル*/ }
  .pc-menu .animation {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(30px); }
  .pc-menu .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

.sp-menu {
  /*アニメーション要素までスクロールした時のスタイル*/ }
  .sp-menu .animation {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(30px); }
  .sp-menu .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

main .rux {
  /*アニメーション要素までスクロールした時のスタイル*/ }
  main .rux .animation {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(30px); }
  main .rux .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

.acsess-area {
  /*アニメーション要素までスクロールした時のスタイル*/ }
  .acsess-area .animation {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(30px); }
  .acsess-area .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

.insta-area {
  /*アニメーション要素までスクロールした時のスタイル*/ }
  .insta-area .animation {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(30px); }
  .insta-area .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

@media (min-width: 550px) {
  header .kyu-logo {
    z-index: 1000;
    position: absolute;
    top: 60px;
    left: 60px;
    width: 40%; }
    header .kyu-logo img {
      width: 85%; }
  header .hmta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    z-index: 1000;
    position: absolute;
    top: 35px;
    right: 30px;
    list-style: none;
    background-color: #ffffff66;
    border-radius: 2px;
    padding: 10px 0 10px 30px; }
    header .hmta img {
      width: 70%; }
    header .hmta a:hover {
      opacity: 0.7; } }
@media (max-width: 549px) {
  header .k-logo {
    width: 28%; }
    header .k-logo img {
      width: 100%; }
  header .hmta {
    display: none; }
  header .kyu-logo {
    display: none; } }
@media (max-width: 549px) {
  .insta-menu {
    display: flex;
    align-items: center;
    padding: 7px 5px 3px 5px;
    background-color: #990000;
    justify-content: space-between;
    position: fixed;
    z-index: 100; }
    .insta-menu .logo {
      width: 10%; }
      .insta-menu .logo img {
        width: 100%; } }
@media (max-width: 549px) {
  .owl-carousel {
    padding-top: 13%; } }
@media (min-width: 550px) {
  .owl-carousel img {
    height: 100vh; } }
@media (min-width: 550px) {
  header .insta-menu {
    display: none; } }
@media (max-width: 549px) {
  header ul {
    list-style: none;
    padding: 0;
    display: none;
    z-index: 9000;
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%; }
    header ul a {
      display: block;
      color: white;
      letter-spacing: 1px;
      text-decoration: none;
      border-bottom: 1px solid white;
      list-style: none;
      background-color: #675630;
      font-weight: 400;
      padding: 20px;
      text-align: center;
      font-size: 15px; } }
@media (min-width: 550px) {
  main ul {
    display: none; } }
@media (max-width: 549px) {
  main .sp-menu .title-border {
    display: flex;
    align-items: center;
    padding: 25px 0 5px 0; }
  main .sp-menu .title-border:before,
  main .sp-menu .title-border:after {
    border-top: 2.5px solid;
    content: "";
    flex-grow: 1; }
  main .sp-menu .title-border:before {
    margin-right: 1rem; }
  main .sp-menu .title-border:after {
    margin-left: 1rem; }
  main .sp-menu a {
    display: block;
    text-decoration: none;
    color: #524c3e; }
  main .sp-menu h1 {
    text-align: center;
    margin: 0 0 20px 0; }
  main .sp-menu .sp {
    border: 2px solid #524c3e;
    display: flex;
    margin-top: 10px;
    align-items: center; }
    main .sp-menu .sp .title {
      width: 50%; }
      main .sp-menu .sp .title span {
        text-align: center;
        display: block;
        font-size: 15px;
        font-weight: bold; }
    main .sp-menu .sp .spim {
      width: 50%;
      padding: 10px 10px 5px 10px; }
      main .sp-menu .sp .spim img {
        width: 100%; } }
@media (max-width: 549px) {
  main .pc-menu {
    display: none; } }
@media (min-width: 550px) {
  main .sp-menu {
    text-align: center; }
    main .sp-menu .title-border {
      display: flex;
      align-items: center; }
    main .sp-menu .title-border:before,
    main .sp-menu .title-border:after {
      border-top: 2.5px solid;
      content: "";
      flex-grow: 1; }
    main .sp-menu .title-border:before {
      margin-right: 1rem; }
    main .sp-menu .title-border:after {
      margin-left: 1rem; }
    main .sp-menu .sp {
      display: none; }
  main .pc-menu {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    border-bottom: 2.5px solid black; }
    main .pc-menu .pc {
      width: 20%; }
      main .pc-menu .pc img {
        width: 100%;
        opacity: 1; }
        main .pc-menu .pc img:hover {
          opacity: 0.7; }
      main .pc-menu .pc h2 {
        text-align: center; } }
@media (max-width: 549px) {
  main .rux {
    padding-bottom: 30px; }
    main .rux .kodawari-title {
      display: none; }
    main .rux .rux2 .item2 img {
      width: 100%; }
    main .rux .title-border {
      display: flex;
      align-items: center;
      padding: 20px 0 10px 0; }
    main .rux .title-border:before,
    main .rux .title-border:after {
      border-top: 2.5px solid;
      content: "";
      flex-grow: 1; }
    main .rux .title-border:before {
      margin-right: 1rem; }
    main .rux .title-border:after {
      margin-left: 1rem; }
    main .rux .ruximg {
      width: 100%;
      text-align: center;
      margin: 0;
      padding-bottom: 20px; }
      main .rux .ruximg img {
        width: 70%; }
    main .rux h4 {
      margin: 10px 0 0 0;
      font-size: 12px; }
    main .rux p {
      margin: 0;
      font-size: 10.5px; } }
@media (min-width: 550px) {
  main .rux {
    padding: 35px; }
    main .rux .kodawari-title {
      width: 50%;
      padding-bottom: 10px; }
      main .rux .kodawari-title img {
        width: 50%; }
    main .rux h1 {
      display: none; }
    main .rux .rux2 {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      main .rux .rux2 img {
        width: 100%; }
      main .rux .rux2 .item1 {
        order: 2;
        width: 40%; }
        main .rux .rux2 .item1 img {
          width: 100%; }
      main .rux .rux2 .item2 {
        width: 50%; }
        main .rux .rux2 .item2 img {
          width: 100%; } }
@media (max-width: 549px) {
  main .insta-area {
    display: none; } }
@media (min-width: 550px) {
  main .insta-area {
    text-align: center;
    border-top: 2.5px solid black; }
    main .insta-area img {
      margin-top: 40px;
      width: 18%; }
      main .insta-area img:hover {
        opacity: 0.7; }
    main .insta-area .insta-img {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      main .insta-area .insta-img img {
        width: 80%; }
    main .insta-area p {
      font-size: 15px;
      padding-top: 30px; } }
@media (max-width: 549px) {
  .flower {
    width: 100%; }
    .flower img {
      width: 100%; } }
@media (max-width: 549px) {
  .footer_in {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    background-color: #990000;
    text-align: center; }
    .footer_in img {
      width: 40%; }
    .footer_in .telimg {
      width: 30%; }
    .footer_in p {
      color: #efe4e4; }
      .footer_in p a {
        text-decoration: none;
        color: #efe4e4; } }
@media (min-width: 550px) {
  .flower {
    width: 100%; }
    .flower img {
      width: 100%; } }
@media (min-width: 550px) {
  .footer_in {
    padding-top: 30px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    background-color: #990000; }
    .footer_in .page {
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .footer_in .page .logoadd {
        padding-right: 20px;
        text-align: center; }
        .footer_in .page .logoadd p {
          display: flex;
          flex-direction: column; }
          .footer_in .page .logoadd p span {
            text-align: left;
            padding-left: 30px; }
        .footer_in .page .logoadd img {
          width: 80%; }
      .footer_in .page .telmenu {
        padding-left: 20px; }
        .footer_in .page .telmenu a:hover {
          opacity: 0.7; }
        .footer_in .page .telmenu .telimg {
          width: 90%;
          padding-bottom: 40px; }
    .footer_in p {
      color: #efe4e4;
      text-align: center;
      font-size: 12px; }
      .footer_in p a {
        text-decoration: none;
        color: #efe4e4; } }
@media (min-width: 550px) {
  footer .footer_in .page .telmenu a[href^="tel:"] {
    pointer-events: none; } }
main .sp-menu {
  text-align: center; }
  main .sp-menu .waku {
    border: 10px solid #990000;
    padding: 10px; }
    main .sp-menu .waku h4 {
      color: #990000; }
    main .sp-menu .waku p {
      font-weight: bold; }
    main .sp-menu .waku img {
      width: 100%;
      padding-top: 5px; }

@media (min-width: 550px) {
  main .sp-menu .title-border {
    padding: 30px 0 30px 0; }
  main .sp-menu .waku {
    border: 15px solid #990000;
    font-size: 15px; }
    main .sp-menu .waku .wakuimg {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      main .sp-menu .waku .wakuimg img {
        width: 45%; } }
@media (max-width: 549px) {
  header .tennai {
    padding-top: 13%; }
    header .tennai img {
      width: 100%; } }
@media (min-width: 550px) {
  header .tennai img {
    width: 100%; } }
@media (max-width: 549px) {
  main .sp-menu .waku table {
    font-size: 11px; }
    main .sp-menu .waku table tr .name {
      font-size: 16px; }
    main .sp-menu .waku table tr th {
      padding-right: 15px;
      padding: 20px 0 20px 0; }
    main .sp-menu .waku table tr td {
      text-align: left;
      padding-left: 10px;
      font-weight: bold; } }
@media (min-width: 550px) {
  main .sp-menu .waku {
    padding: 10px; }
    main .sp-menu .waku .wakunai {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 40px;
      padding-top: 10px; }
      main .sp-menu .waku .wakunai .wakuimg {
        width: 40%; }
        main .sp-menu .waku .wakunai .wakuimg img {
          width: 100%; }
    main .sp-menu .waku table {
      font-size: 14px; }
      main .sp-menu .waku table tr th {
        padding: 20px; }
      main .sp-menu .waku table tr td {
        font-weight: bold; }
      main .sp-menu .waku table tr .name {
        font-size: 20px; } }
main .acsess-area {
  padding-top: 20px; }
  main .acsess-area .text-area {
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: bold; }
    main .acsess-area .text-area h4 {
      color: #990000; }
    main .acsess-area .text-area .parking {
      font-weight: bold; }
  main .acsess-area .map-area {
    padding-bottom: 10px; }

@media (min-width: 550px) {
  main .acsess-area {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }
    main .acsess-area .item1 {
      order: 2; }
    main .acsess-area .text-area {
      font-size: 14px;
      padding-bottom: 10px; }
      main .acsess-area .text-area h1 {
        padding-bottom: 0;
        font-size: 20px;
        border: none; }
      main .acsess-area .text-area p {
        margin: 0; }
      main .acsess-area .text-area .parking {
        font-weight: bold; }
    main .acsess-area .map-area {
      padding-bottom: 10px; } }
@media (max-width: 549px) {
  .sp-menu .waku .toi {
    padding: 10px; }
    .sp-menu .waku .toi a {
      color: #990000;
      display: inline-block; }
      .sp-menu .waku .toi a h1 {
        border: 1px solid black;
        margin: 0;
        margin-top: 10px;
        padding: 10px; } }
@media (min-width: 550px) {
  .sp-menu .waku .toi {
    padding: 10px; }
    .sp-menu .waku .toi a[href*="tel:"] {
      color: #990000;
      text-decoration: none;
      pointer-events: none;
      display: inline-block; }
      .sp-menu .waku .toi a[href*="tel:"] h1 {
        border: 1px solid black;
        margin: 20px 50px 10px 50px;
        padding: 10px; } }
#page_top {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 0;
  bottom: 10px;
  background: #675630;
  opacity: 0.6; }

#page_top a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none; }

#page_top a::after {
  content: '▲';
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
